<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav class="nav">
      <button>📫</button>

      <ul>
        <a href="/blogs">View Blogs</a>
        <a href="/addnewblog">Add a BLOG</a>
      </ul>
      <a href="/signup">Sign Up</a>
    </nav>
    <h2>Welcome to Blog Fam</h2>
  </body>
</html>
